:root {
    --db: #1C0C5B;
    --b: #533db3;
    --lb: #1f1d60;
    --dp: #916BBF;
    --p: #C996CC;
    --lp: #93688f;

}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 5px 5px 10px var(--db);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--p);
    border-radius: 10px;
    border: 4px solid var(--b);
}

.bg-db {

    background-color: var(--db);
}

.bg-b {
    background-color: var(--b);
}

.bg-lp {
    background-color: var(--lp);
}

.text-dp {
    color: var(--dp);
}

.text-p {
    color: var(--p);
}

.text-lb {
    color: var(--lb);
}

.border-p {
    border-color: var(--p);
}

.custom-width {
    width: 18rem;
}


/* Button used to open the contact form - fixed at the bottom of the page */
.open-btn {
    background-color: var(--b);
    color: var(--p);
    padding: 16px 10px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 150px;
}

/* The popup form - hidden by default */
.form-popup {

    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 5px solid var(--lb);
    z-index: 9;
    opacity: 0.9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: var(--b);
}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password],
.form-container input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .add-btn {
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel-btn {
    background-color: red;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}